<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:sport.properties"/>

    <bean id="myFortune" class="com.mohit.springdemo.HappyFortuneService"/>

    <bean id="randomFortune" class="com.mohit.springdemo.RandomFortuneService"/>

    <bean id="myCoach" class="com.mohit.springdemo.BasketballCoach">
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myCricketCoach" class="com.mohit.springdemo.CricketCoach">
        <property name="fortuneService" ref="randomFortune"/>
        <property name="emailAddress" value="${sport.email}"/>
        <property name="team" value="${sport.team}"/>
    </bean>
</beans>